<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Products</title>
  </head>
  <body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="http://localhost:3000/products">Products</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="http://localhost:3000/login">Login<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://localhost:3000/register">Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://localhost:3000/filter">Filter by Brand</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://localhost:3000/ordersummary">View Order Summary</a>
      </li>
    </ul>
    <span class="navbar-text">
      Cart Items: {{itemCount}}
      Balance: ${{balance}}
    </span>
  </div>
</nav>
    {{! Welcome to the website {{username}}

    <h1>Products</h1>
    <div>
    <a href="http://localhost:3000/filter"><button>Filter by Brand</button></a>
    </div>
    <ul>
        {{#productsList}}
                <p><b>Product: </b>{{title}}</p> 
                <p><b>Brand: </b>{{category}}</p>      
                <p><b>Price: </b>{{price}}</p>
                <form method="POST" action="/ordersummary"> 
                <input type="hidden" value="{{title}}"  name="title"/> 
                <input type="hidden" value="{{category}}"  name="category"/> 
                <input type="hidden" value="{{price}}"  name="price"/> 
                <input type="hidden" value="{{username}}"  name="username"/> 
                <input type="hidden" value="{{itemCount}}"  name="itemCount"/>
                <button>Add to Cart</button> 
                </form>
        {{/productsList}}
    </ul>

    <div>
    <form method="POST" action="/signout"><button>Signout</button></form>
    </div>
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>